<p id="notice"><%= notice %></p>

<h1 class="text-success">Songs</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.artist.try(:name) %></td>
        <td><%= link_to fa_icon('eye', text: "view"), song %></td>
        <td><%= link_to fa_icon('pencil', text: "edit"), edit_song_path(song) %></td>
        <td><%= link_to fa_icon('trash', text: "delete"), song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-right">
<%= link_to 'Add New Song', new_song_path, class:"btn btn-success" %>
</div>
