<!DOCTYPE html>
<html>
<head>
  <title>Doggie Daycare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div class="container">
 <div class="row" style="margin-top:18px; margin-bottom:20px;">
  <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
    <%= link_to fa_icon("home", text:"Home"), root_path, class:"btn btn-success" %>

    <%= link_to "About", about_path, class:"btn btn-success" %>

    <%= link_to "Dogs", dogs_path, class:"btn btn-success" %>

     <%= link_to "Owners", owners_path, class:"btn btn-success" %>
     </div>
      <div class="col-sm-2"></div>
</div>

  <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8" style="background-color:honeydew; padding:50px; border-radius:20px;">

<%= yield %>
    </div>
      <div class="col-sm-2"></div>
    </div>

 </div>

</body>
</html>
