<!DOCTYPE html>
<html>
<head>
  <title>Doggie Daycare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
 <div class="container">
    <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-6">
        <%= link_to fa_icon("home", text:"Home"), root_path %>

        <%= link_to "About", about_path %>

        <%= link_to "Dogs", dogs_path %>
      </div>
    </div>

<%= yield %>

 </div>

</body>
</html>
