
      <h1>Details for <%= @dog.name %></h1>
      <p><strong>Name:</strong> <%= @dog.name %></p>
      <p><strong>Breed:</strong> <%= @dog.breed.try(:name) %></p>
      <p><strong>Age:</strong> <%= @dog.age %></p>
      <p><strong>Owner:</strong> <%= @dog.owner.try(:name) %></p>




