<div class="row">
  <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <h1>Details for <%= @dog.name %></h1>
      <p><strong>Name:</strong> <%= @dog.name %></p>
      <p><strong>Breed:</strong> <%= @dog.breed %></p>
      <p><strong>Age:</strong> <%= @dog.age %></p>
      <p><strong>Owner:</strong> <%= @dog.owner %></p>

    </div>
  <div class="col-sm-2"></div>
</div>

